/*apply_640.css*/

@media screen and (min-width: 640px) and (max-width: 1023px) {

  #applyBox{
    height:270vw;
  }

  .apply_area{
    width:100%;
    height:125vw;
    margin-bottom:50px;
  }

  .model_details{
    font-size:0.8rem;
  }

    /* ======================================= */
    #footBox{
      height:320px;
      padding:10px;
    }
  
    .customer_box{
      width:100%;}

    .customer_box > ul{
      height:100%;
      background-color: transparent;
    }
  
    .customer_box li {
      color:#333;
      margin-top:1%;
      font-weight: bold;
      background-color: #fff;
    }

    .customer_box li{
      float:left; height:20px;}

    .sns_box{display:none;}

    .mini_info_box{
      margin-top:50px;
      width:500px;
      float:left; 
      height:38px;}
  }